@import url("reset.css");

html,body {
    font-family: 'Source Serif Pro', serif;
    width:100%;
    height:100%;
    padding:0 auto; 
    margin:0 auto;
}
.pad-top {
    padding-top: 20px;
}
h1 {
    font-size: 30px;
    font-weight: 600;
}
.grey {
    color: grey;
}
.medium {
    font-size:30px;
}
.listening {
}
.pad-right {
    padding-right: 30px;
}
#mic {
    width:30px;
    text-align: center;
    float:right;
    margin-top:10px;
}
.inline{
    display:inline-block;
    margin-top: 10px;
}
.below {
    padding-top:40px;
    text-align: center;
}
#lines {
    width:50px;
    float:left;
    margin-bottom: 10px;
}
.header {
    height: 150px;
    /*background: linear-gradient(#EC7063, #A569BD);*/
    background: #5DADE2;
}
.text-center {
    text-align: center;
}
.sidebar {
    display:none;
    position: relative;
    float:left;
    width:100px;
    height:100%;
    background-color:cadetblue;
}
.notes, .settings, .recall, .definitions {
    
}
.notes {
    position:absolute;
    top:50%;
    left:50%;
    height:auto;
    width:50%;
    margin-top: -50%;
    margin-left:-30px;
}
.main {
    
}
.footer {
    
}